<%- include("../partials/header", {title: 'Snippets'}) %>

    <div class="container">

        <form method="POST" class="card">

            <% if (typeof currentSnippet == "object") { %>
                <input type="hidden" name="currentId" value="<%= currentSnippet.id %>"></input>
            <% } %>
            
            <% if (typeof currentSnippet != "object") { %>
                <text type="text" name="title" placeholder="Entrez un titre"></text>
            <% } else { %>
                <h3>Edition de : "<%= currentSnippet.title %>"</h1>
            <% } %>
            
            <br>
    
            <select name="lang">
    
                <% for (l of langs) { %>

                    <option value="<%=l.id%>"

                    <% if (typeof currentSnippet == "object") {
                        if (currentSnippet.languageId == l.id) { %>
                            selected
                    <% }} %>
    
                    ><%=l.name%></option>
    
                <% } %>
    
            </select>
    
            <br>
    
            <textarea type="text" name="code" placeholder="Insérez votre code">
                <% if (typeof currentSnippet == "object") { %>
                    <%= currentSnippet.code %>
                <% } %>
            </textarea>
    
            <br>
    
            <textarea type="text" name="description" placeholder="Décrivez votre code">
                <% if (typeof currentSnippet == "object") { %>
                    value="<%= currentSnippet.description %>"
                <% } %>
            </textarea>
    
            <br>
    
            <input type="submit" value="Créer"></input>
    
        </form>

    </div>

    <script src="js/prism.js"></script>

</body>

<%- include("../partials/footer") %>