<%- include("../partials/header", {title: 'Snippets'}) %>

    <% for (var s=0; s<snippets.length; s++) { %>

        <div class="container">

            <% let snip = snippets[s] %>

            <div class="card">

                <h1><i class="<%= snip.language.logo %> colored"></i><%= snip.title %></h1>

                <pre><code class="<%= snip.language.htmlClass %>"><%= snip.code %></code></pre>

                <%= snip.description %>

                <br>

                <% let date = snip.creationDate %>

                Posté le <%= date.getDate() %>/<%= date.getMonth() %>/<%= date.getFullYear() %> à <%= date.getHours() %>:<%= date.getMinutes() %>:<%= date.getSeconds() %>

                <br>

            </div>

        </div>

        <br>

    <% } %>

    <script src="js/prism.js"></script>

</body>

<%- include("../partials/footer") %>