<%- include("../partials/header", {title: 'Snippets'}) %>



    <% for (s of snippets) { %>

        <div class="container">

            <% let snip = s %>

            <div class="card">

                <h1><i class="<%= snip.language.logo %> colored"></i><%= snip.title %></h1>

                <h2>Author : <%= snip.author.name %>
                    <% if (locals.user && locals.user.id == snip.author.id) { %>
                        <a href="/edit/<%=snip.id%>">EDIT</a>
                    <% } %>
                </h2>

                <pre><code class="<%= snip.language.htmlClass %>"><%= snip.code %></code></pre>

                <%= snip.description %>

                <br>

                <% let date = snip.creationDate %>

                Posté le <%= date.getDate() %>/<%= date.getMonth()+1 %>/<%= date.getFullYear() %> à <%= date.toLocaleTimeString('fr-FR') %>

                <br>

            </div>

        </div>

        <br>

    <% } %>

    <script src="js/prism.js"></script>

</body>

<%- include("../partials/footer") %>